@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

.font-signature {
  font-family: "Parisienne", cursive;
  font-style: italic;
  font-weight: 400;
}

.hero-background {
  background-color: #ffffff;
  background-image: url("/cristina1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.image-1-second-section {
  background-image: url("/cristina3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 300px;
  height: 250px; */
}
.image-2-second-section {
  background-image: url("/slim.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 250px;
  height: 400px; */
}
.image-3-second-section {
  background-image: url("/image3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 400px;
  height: 250px; */
}

.about-image {
  background-image: url("/cristina2.jpeg");
  background-size: cover;
  background-position: center;
}
